@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700&display=swap');
    

nav{
    padding-left: 100px!important;
    padding-right: 100px!important;
    background: #6665ee;
    font-family: 'Poppins', sans-serif;
} 
nav a.navbar-brand{
    color: #fff;
    font-size: 30px!important;
    font-weight: 500;
}
button a{
    color: #6665ee;
    font-weight: 500;
}
button a:hover{
    text-decoration: none;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 600;
}

    .hero{
        width:100%;
        min-height:100vh;
        background:#eceaff;
        color:#525252;
    }
    nav{
        background: #6665ee;
        width:100%;
        padding:10px 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .logo{
        width: 120px;
        font-size: 500%;
    }
    .user-pic{
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 30px;
    }
    nav ul{
        width: 100%;
        text-align: right;

    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;

    }
    nav ul li a{
        color:#fff;
        text-decoration: none;
    }
    .sub-menu-wrap{
        position:absolute;
        top: 100%;
        right: 10%;
        width: 320px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .sub-menu-wrap.open-menu{
        max-height: 400px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .sub-menu{
        background: #fff;
        padding: 20px;
        margin: 10px;
    }
    .user-info{
        display: flex;
        align-items: center;
    }
    .user-info h4{
        width: 60px;
        border-radius: 50%;
        margin-right: 15px;
    }
    .sub-menu hr{
        border: 0;
        height: 1px;
        width: 100%;
        background: #ccc;
        margin: 15px 0 10px;

    }
    .sub-menu-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #525252;
        margin: 12px 0;
    }
    .sub-menu-link p{
        width: 100%;
    }
    .sub-menu-link i{
        width:40px;
        background: #e5e5e5;
        border-radius: 50%;
        padding: 8px;
        margin-right: 15px;
    }
    .sub-menu-link span{
        font-size: 22px;
        transition: transform 0.5s;
    }
    .sub-menu-link:hover span{
        transform: translateX(5px);
    }
    .sub-menu-link:hover p{
        font-weight: 600;
    }
    .category {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin: 20px;
	overflow: hidden;
	padding: 20px;
	text-align: center;
    margin-top:100px;
}

.category h2 {
	margin-bottom: 10px;
}

.category ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.category li {
	display: inline-block;
	margin: 10px;
	flex-basis: calc(25% - 20px);
	max-width: 300px;
}

.category li .grid-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.category li a {
	color: #333;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	background-color: #f2f2f2;
	transition: background-color 0.3s ease;
	display: block;
	height: 140px;
	line-height: 120px;
	text-align: center;
	width: 100%;
    font-size:17px;
    
}
.category li a:hover {
	background-color: rgb(102,101,238);
}

@media screen and (max-width: 768px) {
	.category li {
		flex-basis: calc(50% - 20px);
	}
}
.wrapper{
    display: grid;
    margin: 200px 90px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  @media (max-width: 700px) {
    .wrapper{
      margin: 200px auto;
    }
  }
  .wrapper .box{
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
  }
  .wrapper .box .front-face{
    background: #fff;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
  }
  .box .front-face .icon{
    height: 80px;
  }
  .box .front-face .icon i{
    font-size: 65px;
  }
  .box .front-face span,
  .box .back-face span{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .front-face .icon i,
  .box .front-face span{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .box .back-face{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
  }
  .box .back-face p{
    margin-top: 10px;
    text-align: justify;
  }
  .box:hover .back-face{
    opacity: 1;
    transform: rotateX(0deg);
  }
  .box:hover .front-face{
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
  }